<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sing in | amarsik</title>
    <script defer src="sing-in.js"></script>
</head>
<body>
    <form id="form" class="form">
        <input type="email" name="email" id="email">
        <input type="password" name="password" id="password">
        <input type="text" name="name" id="name">
        <button type="submit">Click me</button>
    </form>
   
    <p id="message"></p>
</body>
<script src="../../dist/main.js"></script>
</html>
